@import '../../styles/global.scss';

.button {
  margin: 3rem 1rem 1rem;
  font-size: 1rem;
  font-family: $font-main;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.67rem 1.67rem;
  color: $color-blue-light;
  background: $color-blue-dark;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $base-transition;

  &:hover {
    opacity: 0.7;
  }

  &:disabled,
  &:disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
  }
}




