@import '../../styles/global.scss';

.header {
  height: 80px;
  display: flex;
  align-items: center;
  background: $color-blue-dark;

  &__title {
    color: $color-blue-light;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
  }
}